<!DOCTYPE html>
<html lang="en">

    <head>
        <title>SecOps</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Aggregator for security news.">
        <meta name="keywords" content="Security News for the discerning engineering leader or security professional">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="address=no">
        <meta name="HandheldFriendly" content="True">
        <meta name="theme-color" content="#005CA3">
        <meta name="robots" content="index,follow">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-title" content="SecOpsNews">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <link rel="stylesheet" href="/assets/style.css">
        <link href="/assets/TheChelsLight.woff" rel="preload" crossorigin as="font" type="font/woff">
        <link href="/assets/TheChelsMedium.woff" rel="preload" crossorigin as="font" type="font/woff">
        <link href="/assets/favicon.ico" rel="icon" type="image/x-icon" />
        <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="/assets/favicon.ico" rel="apple-touch-icon" type="image/x-icon" />
        <link href="/assets/favicon.ico" rel="apple-touch-icon-precomposed" type="image/x-icon" />
    </head>

    <body>
        <div id="outer-wrapper">
            <div id="wrapper">
                <header id="header">
                    <ul class="skip-link-ul">
                        <li>
                            <a href="#main" class="skip-link">Skip to main content</a>
                        </li>
                    </ul>
                    <div class="blog-title">
                        SecOpsNews
                    </div>
                    <div class="blog-image"></div>
                    <p class="blog-slogan">
                        // For the discerning engineering leader or security professional
                    </p>
                </header>
                <div id="main" class="content">
                    <h1 class="post-title">Latest</h1>
                    {{ content }}
                </div>
    </body>

</html>