name: RSS Third Parties

on:
  schedule:
  - cron: '*/15 * * * *'
  workflow_dispatch:

jobs: 
  Slack:
    runs-on: ubuntu-latest
    steps:
    - uses: guilhem/rss-issues-action@0.5.2
      continue-on-error: true
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        feed: "https://status.slack.com/feed/rss"
        prefix: "[Slack]"
        dry-run: "false"
        lastTime: "24h"
        labels: "Slack"            